@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

:root {
  --sky-magenta: #c073aa;
  --champagne: #ecd9be;
  --gunmetal: #23323d;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  width: 100%;
  /* height: 100%; */
  overflow-x: hidden;
}

body {
  background: url("../img/bg.png"),
    linear-gradient(to right, var(--champagne), var(--sky-magenta));
  background-repeat: repeat-y;
  background-size: cover;
}

/* default base styling */
h1,
h2,
h3,
h4,
h5,
h6,
figure {
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  text-shadow: none;
  border: none;
}

/* custom default classes */
.box {
  border-radius: 8px;
  padding: 1rem 2rem;
  background: linear-gradient(135deg, #fdf2c3 0%, #9452a5 100%);
  box-shadow: 5px -5px 10px 0px rgba(0, 0, 0, 0.25) inset,
    -10px -10px 20px 0px rgba(204, 118, 190, 0.5),
    10px 10px 20px 0px rgba(237, 218, 190, 0.5);
}

.date{
  padding: 0.5rem 2rem;
  background: linear-gradient(135deg, #fdf2c3 0%, #9452a5 100%);
  border-radius: 30px;
}

h2 {
  color: var(--gunmetal);
  font-size: 48px;
  text-align: center;
}

/* styles */
nav {
  padding: 0.5rem 0;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav figure img {
  height: 100%;
  max-height: 108px;
}

nav .nav-items-container {
  display: flex;
  width: 75%;
  justify-content: space-evenly;
  align-items: center;
  font-weight: 700;
}

.hero-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: -2rem;
}

.prize{
  margin-top: 14rem;
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: -12rem;
  color: rgba(0, 0, 0, 0.822) !important;
}

.hero-wrapper .hero {
  margin-top: 4rem;
  position: relative;
  font-size: 6rem;
  display: flex;
  text-align: right;
}

.hero-wrapper .hero img {
  position: absolute;
  bottom: -50%;
  left: 3rem;
}

.hero-wrapper button {
  font-weight: 700;
  padding: 2rem 4rem;
  margin-top: 16rem;
  font-size: 32px;
  display: block;
}

section.about > div,
section.sponsors-wrapper {
  width: 75%;
  margin: 2.5rem auto;
}

section.speakers-wrapper{
  display: block;
  width: 60%;
  margin: 2.5rem;
  margin-left: auto;
  margin-right: auto;
}

section.about > div {
  padding: 2rem;
  text-align: center;
  font-size: 28px;
}

section.speakers-wrapper .speakers img{
  width: 8rem;
  font-size: 21px;
}
section.speakers-wrapper .speakers figure {
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 0.9rem;
}

.box_speaker{
  width: 10rem;
  border-radius: 100%;
  height: 10rem;
}

div.speakers .speaker {
  width:8rem;

}

section.speakers-wrapper .speakers figcaption .box{
  min-height: 1rem;
}

section.speakers-wrapper .speakers .box{
  margin-top: 1rem;
  min-height: 8rem;
}

section.sponsors-wrapper .sponsors .box{
  margin-top: 1rem;
}

section.sponsors-wrapper .sponsors {
  display: grid;
  margin-top: 2rem;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  row-gap: 2rem;
  column-gap: 2rem;
  place-items: center;
}

section.sponsors-wrapper .sponsors figure {
  max-height: 13rem;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem;
}

section.sponsors-wrapper .sponsors figure img {
  margin: auto;
  width: 13rem;
  padding: 0.2rem;
  max-width: 6rem;
}

section.sponsors-wrapper .sponsors figure figcaption {
  margin-top: 2rem;
}

section.sponsors-wrapper .sponsors .box img.box{
  padding: 1.5rem;
}
section.sponsors-wrapper .sponsors .box{
  text-align: center;
}

.link{
  max-height: 2rem;
  max-width: 10rem;
  margin-left: auto;
  margin-right: auto;
}

section.form-wrapper {
  margin-top: 4rem;
}

section.form-wrapper h2:nth-child(1) {
  font-weight: 500;
}

section.form-wrapper h2{
  margin : 5rem;
}
/* section.form-wrapper .form {
  height: 100vh;
} */
section.form-wrapper .form{
  max-height: 20rem;
  font-weight: 700;
  padding: 2rem 4rem;
  margin-top: -5rem;
  font-size: 5rem;
}

section.form-wrapper img{
  display: block;
  margin-left: auto;
  margin-top: -4rem;
}


footer {
  height: 10rem;
  background-color: #23323D;
}

.footer-container {
  color: white;
  display: flex;
  justify-content: space-around;
  font-size: x-large;
}

.icon-display {
    display: flex;
    justify-content: space-evenly;
}
iframe{
  width: 85%;
  height: 90vh;
  border-radius: 20px;
}


@media (max-width: 1024px){
  html{
    font-size: 45%;
  }
  body{
    background-repeat: repeat;
    overflow-x: hidden;
  }
  nav .nav-items-container{
    width: 78%;
  }
  .hero img{
    height: 110%;
  }
  section.form-wrapper img{
    margin-top: 2rem;
    height: 20rem;
  }
  .prize{
    max-width: 75%;
  }
  section.form-wrapper h2{
     font-size: 5rem;
  }
  section.sponsors-wrapper .box{
    width: 70%;
  }
  /* section.sponsors-wrapper .box img{
    max-width: 8rem;
  } */
  section.sponsors-wrapper .sponsors figcaption.box{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  section.speakers-wrapper .speakers figure{
  
    /* display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    row-gap: 3rem; */
  }
  section.speakers-wrapper .speakers .box{
    /* max-height: 15rem; */
    min-width: 24rem;
    justify-content: space-around;
    text-align: center;
  }
  section.speakers-wrapper .speakers figcaption{
    font-size: 102%;
  }
  section.speaker-wrapper .speakers figcaption.box{
    min-height: 15rem;
  }
   .box_speaker{
    height: 7rem;
    width: 7rem;
  } 
  footer{
    min-height: 12rem;
    position: absolute;
    width: 100%;
  }
  .footer-container{
    font-size: small;
    justify-content: space-evenly;
  }
  nav figure img{
    max-width: 5rem;
    max-height: 4rem;
  }
  section.speakers-wrapper h2{
    font-size: 5rem;
  }
  section.sponsors-wrapper h2{
    font-size: 5rem;
  }
  section.about .box{
    font-size: 3rem;
  }
  .box.link{
    align-self: center;
  }
  .link{
    display: flex;
    justify-content: center;
    max-height: 2rem;
    font-size: 1.5rem;
  }
  section.sponsors-wrapper .sponsors figure figcaption{
    font-size: 50%;
  }
  .date{
    width: 60%;
    top: 0;
    border-radius: 20px;
  }

  .date h2{
    font-size: 50%;
  }
  .form{
    overflow-y: auto;
  }
 .form iframe{
    display: flex;
    margin-top: 10px;
    width: 45vh;
    height: 70vw;
    align-items: center;
    justify-content: center;
  }
  section.sponsors-wrapper .sponsors{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: medium;
  }
}

@media (max-width:380px) {
  html{
    font-size: 30%;
  }
  nav .box{
    background: transparent;
    box-shadow: none;
  }
  nav figure img{
    width: 4rem;
  }
  section.speakers-wrapper .speakers .box{
    padding: 10px;
    margin: auto;
    display: block;
    min-width: 30rem;
    justify-content: space-around;
    text-align: center;
    font-size: 0.65rem;
  }

  section.speakers-wrapper .speakers img{
    width: 8rem;
  }

  section.about .box{
    /* width: 35vh; */
    font-size: 8px;
  }
  section.speakers-wrapper{
    display: flex;
    flex-direction: column;
  }
  section.sponsors-wrapper{
    font-size: 1.5rem;
  }
  section.sponsors-wrapper .sponsors{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  section.sponsors-wrapper .sponsors figure{
    max-height: 20rem;
  }

  section.sponsors-wrapper .sponsors figcaption.box{
    font-size: 8px;
    align-self: center;
  }
  section.speakers-wrapper{
    width: 80%;
  }
  section.speakers-wrapper .speakers figcaption.box{
    font-size: 8px;
  }
  .link{
    align-items: center;
  }
  footer{
    min-height: 15rem;
  }
  .footer-container{
    font-size: 2.5rem;
  }
  
}