:root {
  --hero-bg-gradient-max: #c073aa;
  --hero-bg-gradient-min: #ecd9be;
  --nav--bg: #23323d;
}

body {
  background: linear-gradient(
    to right,
    var(--hero-bg-gradient-min),
    var(--hero-bg-gradient-max)
  );
  background-attachment: fixed;
  font-family: "Montserrat", sans-serif;
  width: 100%;
  height: 100%;
}
.center {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  height: 5rem;
  width: 8rem;
}

span {
  width: 11rem;
}

.p-top {
  font-size: 8rem;
  margin-top: 2rem;
  font-weight: bold;
}

.column-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.row-container {
  justify-content: stretch;
  display: flex;
  flex-direction: row;
  height: 20vh;
  width: 100%;
}

.left {
  display: flex;
  height: 5rem;
  width: 10rem;
  display: flex;
  margin-right: 5rem;
}

.icon {
  display: flex;
  height: 17rem;
  margin-left: 15rem;
}

.p-bottom {
  display: flex;
  margin-top: 1rem;
  font-size: 8rem;
  font-weight: bold;
}

.right {
  flex-direction: column;
  height: 12rem;
  width: 15rem;
  margin-right: 0;
  margin-left: 12rem;
}

.bottom {
  display: flex;
  margin-top: 2rem;
  height: 10rem;
  width: 15rem;
}

.down {
  justify-content: center;
  display: flex;
  text-align: center;
  width: 100%;
  margin-top: 5rem;
}

.down button {
  height: 7rem;
  border-radius: 10px;
  padding: 2rem;
  margin-top: 5rem;
}

.bg {
  background: linear-gradient(
    to right,
    var(--hero-bg-gradient-min),
    var(--hero-bg-gradient-max)
  );
}

.bottom {
  margin-left: 250px;
  margin-top: -50px;
  height: 70px;
  width: 120px;
}

.bgp {
  background: linear-gradient(
    to right,
    var(--hero-bg-gradient-min),
    var(--hero-bg-gradient-max)
  );
}
