:root {
  --hero-bg-gradient-max: #c073aa;
  --hero-bg-gradient-min: #ecd9be;
  --nav--bg: #23323d;
}

body {
  background: linear-gradient(
    to right,
    var(--hero-bg-gradient-min),
    var(--hero-bg-gradient-max)
  );
  font-family: "Montserrat", sans-serif;
}

.heading {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 13%;
  font-size: 35px;
  margin-bottom: 0px;
  height: 500px;
  position: relative;
}

.registerNow {
  padding-left: 20%;
  padding-right: 0px;
  width: 100%;
  margin: 0px;
}

@media only screen and (max-width: 600px) {
  .registerNow {
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
    margin: 0px;
  }
}

.margin-bottom {
  margin-bottom: 0px;
}

footer {
  height: 150px;
  background-color: #23323d;
}
.footer-container {
  color: white;
  display: flex;
  justify-content: space-around;
  font-size: x-large;
}
.container {
  position: relative;
}
.topRight {
  position: relative;
  left: 52%;
  bottom: 18%;
  z-index: -1;
}

.fa,
a {
  color: white;
}

.icon-display {
  display: flex;
  justify-content: space-evenly;
}

.title {
  font-weight: 500;
  padding-left: 2%;
}

.bottomLeft {
  float: left;
  bottom: 29%;
  position: absolute;
  z-index: -1;
}

.bottomRight {
  float: right;
  left: 81%;
  position: absolute;
  top: 140%;
  z-index: -1;
}

.link {
  display: flex;
  justify-content: center;
  margin-bottom: 25%;
}

@media only screen and (max-width: 600px) {
  .link {
    margin-top: 22%;
    margin-right: 20%;
    margin-bottom: 80%;
  }
}
